<div class="picker">
  <ion-spinner color="primary" *ngIf="isLoading"></ion-spinner>
  <ion-img
    role="button"
    class="location-image"
    (click)="onClickButton()"
    [src]="selectedLocationImage"
    *ngIf="selectedLocationImage && !isLoading"
  ></ion-img>
  <ion-button
    color="primary"
    (click)="onClickButton()"
    *ngIf="!selectedLocationImage && !isLoading"
  >
    <ion-icon name="map" slot="start"></ion-icon>
    <ion-label>Select Location</ion-label>
  </ion-button>
</div>
