<ion-content color='primary'>
  <ion-slides pager="true" style='max-width:700px' >

    <ion-slide class="ion-padding">
      <div>
      <h1>Welcome!</h1>
      <ion-img src="assets/LogoMakr_8xm3xw.png" style="max-width: 75%; margin: 0 auto;"></ion-img>
      
      <div>
      <p>Where members of the community serve each other by accepting shopping requests and buying the items for them!</p>
    </div>
  </div>
    </ion-slide>


    <ion-slide class="ion-padding">
      <div>
        <ion-img src="assets/trophyImg-removebg-preview.png" width="10" height="10"></ion-img>
      
      <div>
      <p>Fulill requests to earn points and redeem them for offers!</p>
    </div>
  </div>
    </ion-slide>

    <ion-slide class="ion-padding">
    <div>
      <ion-img src="assets/cartImg-removebg-preview.png" width="10" height="10"></ion-img>

      <p> Simply register, find a request, then decide if you want to accept it!</p>
      <P>It's as easy as that!</P>
      <ion-button fill="clear" expand="block" style="--color: #ac5318; --background: #ffffff" expand="block" [routerLink]="['/signup/first']">
     Let's Go!
      </ion-button>    
    </div>
    </ion-slide>

    


  </ion-slides>

</ion-content>
