<ion-header>
  <ion-toolbar color='primary'>
    <ion-buttons>
      <ion-menu-button menu="first"></ion-menu-button>
      <ion-title>Your Rewards</ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content style=' position: relative;' class='ion-padding ion-text-center'>
  <div style='position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);'>
  <ion-img [src]="['/assets/gifts.svg']"  style='max-width:800px;opacity: 0.1;'></ion-img>
  <ion-label><h1 style='color: #E6E6E6; font-size: x-large;'>Coming Soon... :)</h1></ion-label>
</div>

</ion-content>
