.red{
    color: red;
}

.alert-tappable.alert-radio {
    height: auto;
    contain: content;
}

.alert-radio-label.sc-ion-alert-md,
.alert-radio-label.sc-ion-alert-ios {
    white-space: normal;
}

ion-select {
    max-width: 100%;
  
    justify-content: center;
  }
  